body{
    font-family: Arial;
    margin:0;
}

header{
    background:#007bff;
    color:white;
    padding:20px;
    text-align:center;
}

nav{
    background:#333;
    padding:10px;
}

nav a{
    color:white;
    margin:15px;
    text-decoration:none;
}

section{
    padding:20px;
}